@import "./styles/libs/bootstrap/main.scss";

/* Custom color theme properties */
root {
  --f7-theme-color: #2f62d7;
  --f7-theme-color-rgb: 47, 98, 215;
  --f7-theme-color-shade: #2451ba;
  --f7-theme-color-tint: #517cde;
}

/* Your app custom styles here */

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none !important;
}

// .list .item-content {
//   padding-left: 0;
// }

//Global

.back-arrow {
  position: absolute !important;
  left: 16px;
}
